[submodule "terminal"]
	path = terminal
	url = https://github.com/gTerminal-project/gTerminal-project.github.io
[submodule "assets"]
	path = assets
	url = https://github.com/gterminal-project/.github.git
